html
{
    font-size: 10px;
}

body
{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 10px;
    text-align: center;
    min-height: 100vh;
}

.voicetype
{
    padding: 2rem;
    width: 50rem;
    position: relative;
    overflow: hidden;
    font-size: 11px;
    font-weight: 100;
    text-align: justify;
    margin: 0 auto;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 5px 5px gray;
}
h1{
    background: rgb(195, 226, 16);
    text-align: center;
    text-shadow: 3px 3px 0 yellowgreen;;
    margin: -2rem -2rem 2rem -2rem;
    align-items: center;
    font-size: 50px;
    font-family: 'Lobster';
    padding: 1.5rem;
    border-bottom: 5px solid rgb(179, 171, 171)
}

.voicetype select,
.voicetype button,
.voicetype input,
.voicetype textarea
{
    width: 100%;
  padding: 10px;
  background: honeydew;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
}
.voicetype textarea{
    height: 20rem;
}
input[type="select"] {

}
.voicetype button
{
    background: rgb(195, 226, 16);
    width: 49%;
    font-size: 30px;
    font-family: 'Lobster';
    cursor: pointer;
    border-radius: 5px;
    border: 2px inset;
    margin-top: 20px;
    border-bottom: 3px solid rgb(197, 224, 186)
}

